

<!DOCTYPE html>
<html>
<head>

  <%- include('header', { pageTitle: pageTitle }) %>

</head>
<body>

  <%- include('body_header') %>

    <main role="main" class="container">
        <!-- main, conteiner - in the middle-->
      <div class="row">
          <!-- wrap the next tin rows-->
        <div class="col-md-8">
            <!--size of col - medium with size 8-->
            
            <!-- block data (name - content1)-->
            <h1>404<h1>
              
            </div>

          
      </div>
    </main>

    <%- include('scripts') %>

</body>
</html>