
<!DOCTYPE html>
<html>
<head>

  <%- include('header', { pageTitle: pageTitle }) %>
</head>
<body>

    <%- include('body_header', { current_user: current_user }) %>

    <main role="main" class="container">
        <!-- main, conteiner - in the middle-->
      <div class="row">
          <!-- wrap the next tin rows-->
        <div class="col-md-8">
            <!--size of col - medium with size 8-->
            
            <!-- block data (name - content1)-->
            <div class="content-section">
                <form method="POST" action="/register">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Join Today</legend>



                        <div class="form-group">
                            <h6 class="form-control-label" >Username: 
                            <input type="text" id="name" name="user">
                            </h6>
                        </div>
                        
                        <div class="form-group">
                            <h6 class="form-control-label" >Email:    
                            <input type="email" id="email" name="email">
                            </h6>
        
                                </div>

                        <div class="form-group">
                            <h6 class="form-control-label" >Password:     
                            <input type="password" id="password" name="pwd">
                            </h6>

                        </div>

                        <!-- check confiremed password-->

                        
                    </fieldset>
                    <div class="form-group">
                        <input class="btn btn-outline-success" type="submit" value="Submit">
                    </div>
                </form>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="/login">Sign In</a>
                </small>
            </div>
            </div>

            

      </div>
    </main>

    <%- include('scripts') %>

</body>
</html>